<!DOCTYPE HTML>

<html>
	<head>
		<title>SPPU BE MCQs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="{{ url_for('index_page') }}">SPPU BE MCQs</a></h1>
								
							</div>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="{{ url_for('index_page') }}">Home</a></li>
								<li><a href="{{ url_for('submit_page') }}">Submit</a></li>
							</ul>
						</nav>

					</header>
        </div>
        
      <!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										
										<div class="inner">
											<header>
												<h2>Power Electronic Controlled Drives</h2>
												<p>PECD</p>
											</header>
											<p><a href="{{ url_for('electrical_engineering_pecd') }}" class="button small icon solid fa-arrow-circle-right">View</a></p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										
										<div class="inner">
											<header>
												<h2>Switchgear and Protection</h2>
												<p>SGP</p>
											</header>
											<p><a href="{{ url_for('electrical_engineering_sgp') }}" class="button small icon solid fa-arrow-circle-right">View</a></p></div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										
										<div class="inner">
											<header>
												<h2>Electronic Drives</h2>
												<p>ED</p>
											</header>
											<p><a href="{{ url_for('electrical_engineering_ed') }}" class="button small icon solid fa-arrow-circle-right">View</a></p></div>
									</section>

							</div>
						</div>
					</div>
								</div>
								
				<!-- <a href="{{ url_for('static', filename='material/comp/ml/ml_unit_1.doc') }}" class="button small icon solid fa-arrow-circle-right">Download</a> -->
        
			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>Site is not affiliated with Savitribai Phule Pune University (SPPU) in anyway.
										Site owner does not claim copyright to any of the content.</li>
									</ul>
									Designed and created by <a href="http://github.com/zz-xx">zz-xx.</a><br />
									Special thanks to <a href="http://github.com/indranil53">indranil53.</a>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.dropotron.min.js"></script>
			<script src="static/js/browser.min.js"></script>
			<script src="static/js/breakpoints.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>