

        <!DOCTYPE HTML>

<html>
	<head>
		<title>SPPU BE MCQs</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>

	<body class="is-preload homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="{{ url_for('index_page') }}">SPPU BE MCQs</a></h1>
								
							</div>

						<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="{{ url_for('index_page') }}">Home</a></li>
								<li><a href="{{ url_for('submit_page') }}">Submit</a></li>
							</ul>
						</nav>

     </header>
       </div>

       <!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-8 col-12-medium">
								<div id="content">
        
        <h2>Distributed System</h2>
        
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_resource_1.pdf') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_resource_1.pdf</span></div>
                <div class="filesize">Size : <span class="value">0.14 MB</span></div>
                </a> 
            
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_UNIT_2.docx') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_UNIT_2.docx</span></div>
                <div class="filesize">Size : <span class="value">0.02 MB</span></div>
                </a> 
            
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_resource_2.docx') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_resource_2.doc</span></div>
                <div class="filesize">Size : <span class="value">0.01 MB</span></div>
                </a> 
            
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_UNIT_3.docx') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_UNIT_3.docx</span></div>
                <div class="filesize">Size : <span class="value">0.02 MB</span></div>
                </a> 
            
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_UNIT_4.docx') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_UNIT_4.docx</span></div>
                <div class="filesize">Size : <span class="value">0.02 MB</span></div>
                </a> 
            
                <a href="{{ url_for('static', filename='./mcq_data/it/DCS/DCS_UNIT_1.docx') }}" class="download_button">
                <div class="downloadicon">
                <div class="cloud"><div class="arrowdown"></div></div>
                </div>
                <div class="filename"><span class="value">DCS_UNIT_1.docx</span></div>
                <div class="filesize">Size : <span class="value">0.01 MB</span></div>
                </a> 
            
        </div>
								</div>
       </div>
      </div>
     </div>
       
       <!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="col-12">
								<div id="copyright">
									<ul class="menu">
										<li>Site is not affiliated with Savitribai Phule Pune University (SPPU) in anyway.
										Site owner does not claim copyright to any of the content.</li>
									</ul>
									Designed and created by <a href="http://github.com/zz-xx">zz-xx.</a><br />
									Special thanks to <a href="http://github.com/indranil53">indranil53.</a>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='js/main.js') }}"></script>
			
	</body>
</html>

        